/* advDiv'i yan yana 3 kutu şeklinde sırala */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
  
/* .navbar ve içerikleri */
.navbar {
    width: 100%;
    height: auto; /* Sabit yükseklik yerine otomatik yükseklik */
    min-height: 6vw; /* Min. yükseklik belirleme */
    background-color: rgb(27, 27, 66);
    display: flex;
    align-items: center;
    padding: 0 20px; /* Kenar boşluğu ekleme */
    box-sizing: border-box; /* Padding hesaplaması */
}

.sahibindenlogo img {
    width: 100%; 
    max-width: 16vw;
    height: auto; 
    margin-left: 0; 
}

.search-bar {
    margin-left: 3vh;
    margin-top: 10px;
    width: 100%; /* Genişlik %100 */
    max-width: 300px; /* Maksimum genişlik belirleme */
    display: flex; /* Öğeleri yan yana yerleştirme */
    align-items: center; /* Dikey hizalama */
}

input[type="text"] {
    flex: 1; /* Esneklik ekleyerek genişliği ayarlama */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

#returnhomebtn {
    margin-left: auto;
    margin-top: 1vh;
    width: max-content; 
    padding: 8px 16px; 
    border-radius: 3px;
    background-color: rgb(17, 20, 50);
    color: white;
    font-weight: bold;
}

#araBtn {
   
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.container{

    display: flex;
    flex-direction: row; 
    height: 100vh; 
}

.categoryTable{
  
    flex: 0 0 20%; 
    color: rgb(34, 32, 32);
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background-color: white
}

#ctgspan{
   

    margin-top: 50px;
    border-bottom: 1px solid burlywood;
   
    
}

.cc {

    padding: 8px;
    font-weight: bolder;
    cursor: pointer;
}

.advpanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    overflow-y: auto;
    height: 85vh;
    border: 1px solid #ccc;
}

.advDiv {
    width: 30%;
    height: 55vh;
    max-height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid #090927;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(178, 170, 170);
    margin-bottom: 30px;
    
}

.advImage {
    width: 100%;
    overflow: hidden;
}

.advImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.advDescription {
    color: rgb(16, 16, 26);
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 100%;
    height: max-content;
    max-height: max-content;
   justify-content: center;
   
}



.detailContainer {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60vh; 
}

.detailImage {
  
    flex: 0 0 40%;  
    color: #091828; 

}

.detailImage p{

    font-size: 20px;
    font-weight: bold;
    border-bottom: #090927 1px solid;

}
.detailImage img {
    
    width: 100%;
    height: max-content;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 10px;
    
}

.attributes {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    padding: 20px;
    margin-top: 50px;
    color: rgb(26, 25, 25);
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%; 
}

.attributes p{

    border-bottom: 1px solid rgb(79, 79, 102);
    border-radius: 5px;
}

@media screen and (max-width: 800px) { /* Örnek olarak 768px genişlikteki cihazları hedef alabilirsiniz */
    .detailContainer {
        flex-direction: column; 
       
    }

    .advDiv{

        max-height: 25vh;
        max-width: 300px;
    }

    .navbar{
        max-width: 100vw;
    }
    .detailContainer{

        max-height: 25vh;
        max-width: 300px;

    }
    
}