<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ad Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   

    <script>
         function redirectToHomepage(){
        window.location.href = "/";
    }
    </script>
</head>
<body id="detailbody">

    <div class="navbar">
        <div class="sahibindenlogo">
            <img src="https://s0.shbdn.com/assets/images/sahibinden_logo_v13012023:a4a65c5ace0e80eac6171317531b4611.png" alt="logo">
        </div>
        
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="type...">
                <button type="submit" id="araBtn">Serach</button>
            </form>
        </div>

        <div class="returnhome">
            <button id="returnhomebtn" onclick="redirectToHomepage()" >Homepage</button>
        </div>
    </div>

    <div class="detailContainer">
        <div class="detailImage">
            <p>{{ advert.description }}</p>
            <img src="{{ advert.image }}" alt="Advert Image">
        </div>
        <div class="attributes">
            <p>Details</p>
            <p> &#10022; Description: {{ advert.description }}</p>
            <p> &#10022; Ad no : {{ advert.id }}</p>
            <p> &#10022; Price: {{ advert.price }} K $</p>
            <p> &#10022; City: {{advert.city}}</p>
        </div>
    </div>
</body>
</html>
